.echarts-map {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #001540;
  box-sizing: border-box;
  .info {
    position: absolute;
    left: 0;
    width: 100%;
    font-weight: bold;
    z-index: 9;
  }
  ::v-deep(.el-card) {
    border-radius: 0;
  }
}
