
/* 常用 flex */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-justify-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-align-center {
  display: flex;
  align-items: center;
}


@media screen and ( max-width: 540px ) {
  .app-breadcrumb{
    display: none!important;
  }
}
