html,
body {
  height: 100%;
  width: 100%;
  overflow: visible;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}


body{
  background: #f6f8f9;
}


/* 常用 flex */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-justify-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-align-center {
  display: flex;
  align-items: center;
}

/* 移动端的时候由于屏幕变小隐藏头部导航栏 */
@media screen and ( max-width: 540px ) {
  .app-breadcrumb{
    display: none!important;
  }
}


/** 设置滚动条 **/
::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}


::-webkit-scrollbar-track {
  background-color: rgb(0 0 0 / 5%);
}

::-webkit-scrollbar-thumb {
  // background: rgba(0, 0, 0, 0.6);
  background-color: rgb(144 147 153 / 30%);
  // background-color: rgba(144, 147, 153, 0.3);
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 20%);
}

