.count-to {
  display: block;
  margin: 10px 0;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: $primaryColor;
}
.label {
  color: #2f4f4f;
  font-size: 16px;
  display: inline-block;
  margin: 15px 30px 15px 0;
}
