$dark_gray: #889aa4;
:deep(input) {
  background: transparent;
  border: 0;
  color: white;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 12px 5px 12px 15px;
  height: 47px;
}
::v-deep(.el-input__wrapper){
  background: none;
}
.login-box {
  width: 80%;
  max-width: 500px;
}
.show-pwd {
  position: absolute;
  right: 10px;
  top: 7px;
  font-size: 16px;
  color: $dark_gray;
  cursor: pointer;
  user-select: none;
}
.login-container {
  background-color: #2d3a4b;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-box-content-right {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    width: 100%;
    height: 370px;
    overflow: hidden;
    .login-form {
      margin-top: 20px;
    }
  }
}
